{% extends 'base_front.html.twig' %}

{% block title %}Bienvenue chez Hypnos!{% endblock %}

{% block body %}
<div>

    <div class="presentation_video">
        <video src="{{ asset("/ressources/uploads/homepage/production-ID-4775026-625432ad8fde7.mp4") }}" autoplay muted loop alt="Vidéo de présentation"/>
    </div>

    <div class="d-grid justify-content-lg-between bg-info col-6">
        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.arrival_date) }}
            </div>
            <div class="col">
                {{ form_row(form.departure_date) }}
            </div>
            <div class="col">
                {{ form_row(form.establishment) }}
            </div>
        </div>
        <input class="btn btn-outline-secondary" type="submit" value="Rechercher"/>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
