{% extends 'base_front.html.twig' %}

{% block title %}Bienvenue chez Hypnos!{% endblock %}

{% block body %}
<div>

    <div class="presentation-wrapper container p-0 my-0">
        <div class="video-dimension">
            <video src="{{ asset("/ressources/uploads/homepage/production-ID-4775026-625432ad8fde7.mp4") }}"
                   class="presentation_video"
                   autoplay
                   muted
                   loop
                   alt="Vidéo de présentation"/>
        </div>
        <div class=" d-grid search-box align-items-end pb-5">
            <div class="row justify-content-lg-between bg-info col col-lg-6 mx-auto rounded-3 mt-5">
                {{ form_start(form) }}
                <div>
                    {{ form_errors(form) }}
                </div>

                <div class="row">
                    <div class="col p-3">
                        {{ form_row(form.arrival_date) }}
                    </div>
                    <div class="col p-3">
                        {{ form_row(form.departure_date) }}
                    </div>
                    <div class="col p-3">
                        {{ form_row(form.establishment) }}
                    </div>
                    <div class="col m-auto">
                        <input class="btn btn-outline-secondary" type="submit" value="Rechercher"/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">

                    <img src="{{ asset("ressources/uploads/homepage/gift-habeshaw-V1sB2VwLNLQ-unsplash-6255437c62ca0.jpg") }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
