{% extends 'base_front.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block javascripts %}
    {{ parent ()}}
    {{ encore_entry_script_tags('checkPassword') }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Création de compte</h1>
    <div>
        {{ form_start(registrationForm) }}
        <div>
            {{ form_row(registrationForm.firstName) }}
        </div>
        <div>
            {{ form_row(registrationForm.lastName) }}
        </div>
        <div>
            {{ form_row(registrationForm.email) }}
        </div>
        <div>
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <div class="col">
            <label for="verifpass" class="form-label mt-3">Saisir une seconde fois le mot de passe</label>
            <input type="password" id="verifpass" required class="form-control">
        </div>
        <div class="d-grid mx-auto col col-md-6 col-lg-4 mt-3">
            <button class="btn btn-lg btn-primary mt-3" type="submit">
                S'enregistrer
            </button>
        </div>
    </div>

    {{ form_end(registrationForm) }}

</div>
{% endblock %}
