{% extends 'base_back.html.twig' %}

{% block title %}Hello ManageSuiteController!{% endblock %}

{% block body %}

<div class="text-center pb-4">
    <h1>Ajouter une suite</h1>

    <div>
        {{ form_start(addSuiteForm) }}
        <div>
            {{ form_errors(addSuiteForm) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(addSuiteForm.establishment) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.suiteTitle) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.price) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.suiteDescription) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.bookingLink) }}
            </div>
        </div>
        {{form_row(addSuiteForm.submit)}}
        {{ form_end(addSuiteForm) }}
    </div>
</div>
{% endblock %}
