{% extends 'base_back.html.twig' %}

{% block title %}Hello ManageSuiteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    <div>
        {{ form_start(addSuiteForm) }}
        <div>
            {{ form_errors(addSuiteForm) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(addSuiteForm.establishment) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.suiteTitle) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.price) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.suiteDescription) }}
            </div>
            <div class="col">
                {{ form_row(addSuiteForm.bookingLink) }}
            </div>
        </div>
        {{form_row(addSuiteForm.submit)}}
        {{ form_end(addSuiteForm) }}
    </div>
</div>
{% endblock %}
