{% extends 'base_back.html.twig' %}

{% block title %}Hello ManageMediaController!{% endblock %}

{% block body %}

<div class="text-center pb-4">
    <h1>Hello ! ✅</h1>
</div>

<div>
    {{ form_start(addMediaForm) }}
    <div>
        {{ form_errors(addMediaForm) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(addMediaForm.file) }}
        </div>
        <div class="col">
            {{ form_row(addMediaForm.gallery) }}
        </div>
        <div class="col">
            {{ form_row(addMediaForm.linkedPage) }}
        </div>
    </div>
    {{form_row(addMediaForm.submit)}}
    {{ form_end(addMediaForm) }}
</div>

{% endblock %}
