{% extends 'base_back.html.twig' %}

{% block title %}Hello ManageUserController!{% endblock %}

{% block body %}

<div class="text-center mb-4">
    <h1>Ajouter un utilisateur</h1>
</div>

    <div>
        {{ form_start(addUserForm) }}
        <div>
            {{ form_errors(addUserForm) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(addUserForm.firstName) }}
            </div>
            <div class="col">
                {{ form_row(addUserForm.lastName) }}
            </div>
            <div class="col">
                {{ form_row(addUserForm.email) }}
            </div>
            <div class="col">
                {{ form_row(addUserForm.role) }}
            </div>
            <div class="col">
                {{ form_row(addUserForm.password) }}
            </div>
        </div>
        {{form_row(addUserForm.submit)}}
        {{ form_end(addUserForm) }}
    </div>
{% endblock %}
