{% extends 'base_back.html.twig' %}

{% block title %}Hello ManageUserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/apps/symfony_groupe_hotelier/src/Controller/ManageUserController.php'|file_link(0) }}">src/Controller/ManageUserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/apps/symfony_groupe_hotelier/templates/manage_user/add_gallery.html.twig'|file_link(0) }}">templates/manage_user/index.html.twig</a></code></li>
    </ul>
</div>

    <div>
        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col">
                {{ form_row(form.email) }}
            </div>
            <div class="col">
                {{ form_row(form.role) }}
            </div>
            <div class="col">
                {{ form_row(form.password) }}
            </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Enregistrer l'utilisateur"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
