{% extends 'base_back.html.twig' %}

{% block title %}Hello ManageGalleryController!{% endblock %}

{% block javascripts %}
    <script src="../../assets/js/add_gallery.js"></script>
{% endblock %}

{% block body %}

<div class="text-center pb-4">
    <h1>Hello ! ✅</h1>
</div>
    <div>
        {{ form_start(addGalleryForm) }}
        <div>
            {{ form_errors(addGalleryForm) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(addGalleryForm.galleryName) }}
            </div>
            <div class="col">
                {{ form_row(addGalleryForm.establishment) }}
            </div>
            <div class="col">
                {{ form_row(addGalleryForm.highlightedPhoto) }}
            </div>
            <div class="col">
                {{ form_row(addGalleryForm.photos) }}
            </div>
        </div>
        {{ form_row(addGalleryForm.submit)}}
        {{ form_end(addGalleryForm) }}
    </div>
{% endblock %}
