<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/svg" href="{{ asset("ressources/favicon.svg") }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
                        <a href="/" class="navbar-brand">
                            <img src="{{ asset("ressources/Logo_Hypnos.svg") }}" class="logo" alt="Logo Hypnos">
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0 text-white">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Mon profil</span>
                                </a>
                            <li class="nav-item">
                                <a href="/manage_establishment/add" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Gérer les établissements</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage_suite/add" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Gérer les suites</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage_user/add" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Gérer les utilisateurs</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage_media/add" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Gérer les médias</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage_gallery/add" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Gérer les galleries</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage_reservation/add" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Gérer les réservations</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage_messages" class="nav-link px-0 align-middle text-white">
                                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Messages clients</span> </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <main class="col py-3">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">2022 Hypnos Group</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="{{ asset("ressources/Logo-sans-nom-Hypnos.svg") }}" class="footer-logo" alt="Logo Hypnos">
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Page d'accueil</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Conditions d'utilisation</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
