{% extends 'base_back.html.twig' %}

{% block title %}Ajouter un établissement{% endblock %}

{% block body %}
<div class="text-center pb-4">
    <h1>Ajouter un établissement</h1>
</div>

    <div>
        {{ form_start(addEstablishmentForm) }}
        <div>
            {{ form_errors(addEstablishmentForm) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(addEstablishmentForm.establishmentName) }}
            </div>
            <div class="col">
                {{ form_row(addEstablishmentForm.address) }}
            </div>
            <div class="col">
                {{ form_row(addEstablishmentForm.city) }}
            </div>
            <div class="col">
                {{ form_row(addEstablishmentForm.description) }}
            </div>
            <div class="col">
                {{ form_row(addEstablishmentForm.manager) }}
            </div>
        </div>
        {{ form_row(addEstablishmentForm.submit)}}
        {{ form_end(addEstablishmentForm) }}
    </div>
{% endblock %}
